<div>
  Select interest:
  <mat-slider (input)="interestSlider($event)" min="0" max="15" step="0.1" [(ngModel)]="interest"></mat-slider>
  {{this.interest}} %
<div>
Select years:
  <mat-slider (input)="yearSlider($event)" min="1" max="30" step="1" [(ngModel)]="time"></mat-slider>
  {{time}}
</div>

<div>
  Select loan amount:
  <input   type="number" [(ngModel)]="amount">
</div>


<button mat-raised-button (click)="paymentPlan()" mat-button color="primary">Generate payment plan</button>
<div *ngIf="Payment.interest">
  Total cost:
  {{total | number: '1.2-2' }}
</div>

<div id="payment"  >
  <table>
    <thead>
      <tr>
      <td>Month</td>
    <td>Remaining amount</td>
    <td>Monthly payment</td>
    <td>Interest</td>
    <td>Progress payment</td>
  </tr>
  </thead>
    <tbody>
      <tr *ngFor="let item of Payment.remainder let i = index">
    <td>{{i}}</td>
    <td>{{Payment.remainder[i] | number: '1.2-2'}}</td>
    <td>{{Payment.monthly[i]| number: '1.2-2'}}</td>
    <td>{{Payment.interest[i]| number: '1.2-2'}}</td>
    <td>{{Payment.progress[i]| number: '1.2-2'}}</td>
  </tr>
  </tbody>
</table>
</div>
